.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace {
  content: "asdfasdf";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vw;
  z-index: 5;
  background-color: #ffffff;
  background-image: url("../images/preloader.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
